extends layout

block vars
	-var active = 'contact'

block title
	| contact me - Stokes Player

block content
	div.row
		div.offset3.span6
			div.well
				address
					strong Address 
					br
					| Stokes Player
					br 
					| 778 Chatter Road 
					br
					| Mt Pleasant SC 29464
				address
					strong Email
					br
					| stokes{dot}player(at)gmail[dot]com 
				#contact-map.text-center
					iframe(src='http://a.tiles.mapbox.com/v3/warrensplayer-map.map-r5sgdovs.html#16/32.822300000000006/-79.85630000000002', frameBorder='0')
