extends layout

block meta
	meta(name="description", content="Stokes Player is a software developer living in Charlston, SC.")
	meta(name="keywords", content="stokes player, software developer charleston, web application developer charleston")
	meta(name="google-site-verification", content="lSfXgvq99SwpsyrTZQAEOfxKy6QQDkUoHZ8mv2jSE0U")
block vars
	-var active = 'home'

block title
	| a little about - Stokes Player

block content
	#masthead.jumbotron
		h1 Who is Stokes Player?
		p.lead See below to find out!
		p
			a#linkedin-link.btn.btn-large.btn-info(href="http://www.linkedin.com/in/stokesplayer", target="_blank")
				i.icon-linkedin-sign
				| Profile
	.row
		.span6
			h2.text-center
				i.icon-user
				|  About me
			img.spin-me.img-circle.pull-left(src="img/Me.jpg")
			p
				| Hi! My name is Stokes.  I have been a software developer for almost 15 years.
				| I spent most of my time working on large enterprise 
				span.label.label-info Java 
				|  web applications.  I played and fought with:
			p
				span.label.label-info Oracle
				|  
				span.label.label-info Weblogic
				|  
				span.label.label-info SOA
				|  
				span.label.label-info Spring Framework
			p
				| The past couple of years I have been at a small startup having fun with:
			p
				span.label.label-info HTML
				|  
				span.label.label-info CSS 
				|  
				span.label.label-info Javascript 
				|  
				span.label.label-info MySQL
				|  
				span.label.label-info JQuery
				|  
				span.label.label-info Twitter Bootstrap
				|  
				span.label.label-info Amazon Web Services
				|  
				span.label.label-info Pixelmator
			P 
				| I have also played around with:
			p
				span.label.label-info AngularJS
				|  
				span.label.label-info iOS
				|  
				span.label.label-info Less
				|  
				span.label.label-info Jade
				|  
				span.label.label-info node.js
				|  
				span.label.label-info Wordpress
				|  
				span.label.label-info PHP
				|  
				span.label.label-info Codeigniter
			p
				| I have the most fun at work when I am surrounded by a small team 
				| of smart people and feel challenged every day.  I pride myself in being 
				| able to figure out any problem and leaving behind concise, understandable code.

		.span6
			.well
				h3.text-center 
					i.icon-picture
					|  Some photos
				#photos.carousel.slide
					ol.carousel-indicators
						li.active(data-target="#photos", data-slide-to="0")
						li(data-target="#photos", data-slide-to="1")
						li(data-target="#photos", data-slide-to="2")
					.carousel-inner
						.item.active
							img(src="img/TableRock.jpg", width="100%")
							.carousel-caption
								h4 Table Rock
								p from Caesar's Head, SC
						.item
							img(src="img/BoatKeyWest.jpg", width="100%")
							.carousel-caption
								h4 Sailboat
								p Key West, FL
						.item
							img(src="img/ChurchOia.jpg", width="100%")
							.carousel-caption
								h4 Church
								p Oia, Santorini, Greece
					a.carousel-control.left(href="#photos", data-slide="prev") &lsaquo;
					a.carousel-control.right(href="#photos", data-slide="next") &rsaquo;
	#list-row.row
		.span4
			.well
				h3.text-center
					i.icon-laptop
					|  Geek stuff
				div#geek-stuff.text-center
					div.accordion-group
						div.more-info(data-toggle="collapse", data-parent="#geek-stuff", data-target="#mac")
							| I use a Mac 
							i.icon-chevron-down
						div#mac.collapse
							a(href="http://www.tuaw.com", target="_blank") TUAW
							br
							a(href="http://www.macrumors.com", target="_blank") MacRumors
							br
							a(href="http://www.loopinsight.com", target="_blank") The Loop
					div.accordion-group
						div.more-info(data-toggle="collapse", data-parent="#geek-stuff", data-target="#tech")
							| I like learning new languages 
							i.icon-chevron-down
						div#tech.collapse
							a(href="http://www.nodejs.org", target="_blank") Node.js
							br
							a(href="http://www.angularjs.org", target="_blank") AngularJS
					div.accordion-group
						div.more-info(data-toggle="collapse", data-parent="#geek-stuff", data-target="#design")
							| I am a wannabe designer 
							i.icon-chevron-down
						div#design.collapse
							a(href="http://www.smashingmagazine.com", target="_blank") Smashing Magazine
							br
							a(href="http://www.pixelmator.com/tutorials", target="_blank") Pixelmator Tutorials
							br
							a(href="http://www.dribbble.com", target="_blank") Dribbble
					div.accordion-group
						div.more-info(data-toggle="collapse", data-parent="#geek-stuff", data-target="#api")
							| I like good APIs 
							i.icon-chevron-down
						div#api.collapse
							a(href="http://www.braintreepayments.com/developers", target="_blank") Braintree
							br
							a(href="http://dev.twitter.com", target="_blank") Twitter
					
		.span4
			.well
				h3.text-center
					i.icon-heart
					|  Likes
				p.text-center
					i.icon-group
					|  Family time<br>
					i.icon-plane
					|  Travel<br>
					i.icon-food
					|  Good food<br>
					i.icon-road
					|  Running<br>
					i.icon-beer
					|  Beer<br>
					i.icon-book
					|  Reading
				p.muted.text-center
					| Not necessarily in that order.
		.span4
			.well
				h3.text-center
					i.icon-cogs
					|  Built with
				p
					| This website built is built with:
				ul.icons
					li
						i.icon-cog
						| Twitter Bootstrap<br>
						small Bootswatch Spacelab
					li
						i.icon-cog
						| Font Awesome
					li
						i.icon-cog
						| Less
					li
						i.icon-cog
						| Jade
					li
						i.icon-cog
						| Sublime Text 2
					li
						i.icon-cog
						| CodeKit
				.text-center
					a#github-link.btn.btn-info(href="https://github.com/warrensplayer/stokesplayer.com", target="_blank") 
						i.icon-github
						|  See the code

block script
	script
		$(function(){
			$("#photos").carousel();
		});

		$("#linkedin-link").on("click", function(){
			if (ga) {
				ga('send', 'event', 'button', 'click', 'linkedin');
			}
		});

		$("#github-link").on("click", function(){
			if (ga) {
				ga('send', 'event', 'button', 'click', 'github');
			}
		});
